<div *ngIf="createPOI">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form form-inline">

    <div class="form-group">
      <label for="name">Nome:</label><br>
      <input formControlName="name" type="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <br>
      <label for="description">Descrição:</label><br>
      <textarea formControlName="description" type="description" class="form-control" id="description" cols="50" rows="2"></textarea>
    </div>

    <button class="btn btn-primary">Adicionar</button>
  </form>
</div>